@{
    ViewData["Title"] = "Busca de Filmes";
}

<h2>Buscar Filmes</h2>

<form method="get" asp-action="Search">
    <input type="text"
           name="query"
           placeholder="Digite o nome do filme..."
           class="form-control" />

    <button class="btn btn-primary mt-2" type="submit">
        Buscar
    </button>
</form>